{% for type, messages in app.flashes %}
  {% for message in messages %}
    <div class="alert alert-{{ type == 'notice' or type == 'success' ? 'success' : 'danger' }} rounded-3">
      {{ message }}
    </div>
  {% endfor %}
{% endfor %}
